.brand-logo{
    margin-left: 2%;  
}
img{
    height: 180px;
}
.row{
    margin-left: 2%;
    margin-right: 2%;
}
.rating{
    display: flex;
    justify-content: center;
}
.rating__star {
    color: #ffc078;
}
#rate{
    text-align: center;
}
.card-title{
    
}